
{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}

<!--[if lt IE 9]>
            <p class="browsehappy">Hej, du använder dig av en <strong>gammal</strong> webbläsare som kan ge en sämre webbupplevelse. Besök gärna <a href="http://browsehappy.com/">denna sida</a> för att ta reda på vad du kan göra åt saken.</p>
        <![endif]-->
<div class="teaserimage">
    <div class="teaserimage-image" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
        Teaser Image
    </div>
</div>

<header class="blog-header">
    {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}" style="background-image: url(https://lh6.googleusercontent.com/-j_OmR5RZGaw/U2f7wvkf76I/AAAAAAABBIg/_6_A8XdF_GQ/s1336-no/IMG_20140104_143836.jpg)">{{@blog.title}}</a>{{/if}}
    <h1 class="blog-title">{{@blog.title}}</h1>
    <h2 class="blog-description">{{@blog.description}}</h2>
    <div class="custom-links">
    <a href="http://www.linkedin.com/in/davidholmlund" target="_blank">
    <i class="fa fa-linkedin"></i></a>&nbsp;&nbsp;
    <a href="https://plus.google.com/+DavidHolmlund?rel=author" target="_blank">
    <i class="fa fa-google-plus-square"></i></a>&nbsp;&nbsp;
    <a href="http://www.facebook.com/davidholmlund" target="_blank">
    <i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
    <a href="https://github.com/holmlund" target="_blank">
    <i class="fa fa-github"></i></a>&nbsp;&nbsp;
    <a href="http://www.twitter.com/davidholmlund" target="_blank">
    <i class="fa fa-twitter"></i></a>&nbsp;&nbsp;
    <a href="http://www.instagram.com/davidholmlund" target="_blank">
    <i class="fa fa-instagram"></i></a>&nbsp;&nbsp;
    <a href="http://davidholmlund.se/rss" target="_blank">
    <i class="fa fa-rss"></i></a>&nbsp;&nbsp;
    <a href="mailto:david.holmlund@gmail.com" target="_blank">
    <i class="fa fa-envelope"></i></a>&nbsp;&nbsp;
    <a href="http://vedervisp.se"> <i class="veder"><img src="/veder-square-icon-24.png"></i></a>&nbsp;&nbsp;|&nbsp;&nbsp;

    
        <a href="/om-mig/"> Om mig </i></a>
    </div>
</header>

<script>
    (function ($) {
        "use strict";
    
        $(document).ready(function(){
    
            var $window = $(window),
                $image = $('.teaserimage-image');
            $window.on('scroll', function() {
                var top = $window.scrollTop();
    
                if (top < 0 || top > 1500) { return; }
                $image
                    .css('transform', 'translate3d(0px, '+top/3+'px, 0px)')
                    .css('opacity', 1-Math.max(top/700, 0));
            });
            $window.trigger('scroll');
    
        });
    
    }(jQuery));
</script>

{{! The main content area on the homepage }}
<main class="content" role="main">
    
    <h5 class="index-headline featured"><span>Utvalda</span></h5>
    
    <div class="container featured">
        {{#foreach posts}}
            {{#if featured}}
                <article class="{{post_class}}" itemscope itemtype="http://schema.org/BlogPosting" role="article">
                    <div class="article-item">
                        <header class="post-header">
                            <h2 class="post-title" itemprop="name"><a href="{{url}}" itemprop="url">{{{title}}}</a></h2>
                        </header>
                        <section class="post-excerpt" itemprop="description">
                            <p>{{excerpt characters="130"}}&hellip;</p>
                        </section>
                        <div class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> <span class="post-tags-set">on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}}</span></div>
                    </div>
                </article>
            {{/if}}
        {{/foreach}}
    </div>
    
    
    <h5 class="index-headline normal"><span>Vanliga</span></h5>
    
    <div class="cf frame">
    {{#foreach posts}}
        {{#if featured}}
        {{else}}
            <article class="{{post_class}}" itemscope itemtype="http://schema.org/BlogPosting" role="article">
                <div class="article-item">
                    <header class="post-header">
                        <h2 class="post-title" itemprop="name"><a href="{{url}}" itemprop="url">{{{title}}}</a></h2>
                    </header>
                    <section class="post-excerpt" itemprop="description">
                        <p>{{excerpt characters="130"}}&hellip;</p>
                    </section>
                    <div class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}
                    </time><span class="post-tags-set">| {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}}</span></div>
                </div>
            </article>
        {{/if}}
    {{/foreach}}
    </div>


    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

</main>

<footer class="site-footer">

    <form id="search">
                <input id="search-field" placeholder="Sök"/>
    </form>
    <section id="results"></section>
    <a class="subscribe icon-feed" href="{{@blog.url}}/rss/"><span class="tooltip"> Prenumerera!</span></a>
    <div class="inner">
         <section class="copyright">Allt innehåll copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; Alla rättigheter reserverade.</section>
         <section class="poweredby">Sajten drivs med <a class="icon-ghost" href="https://github.com/TryGhost/Ghost"></a> och stora mängder kaffe.</section>
    </div>
</footer>